body {text-align: center;background: #eee;margin-top: 0px;}
#ty {width: 960px; background: #fff; margin-right: auto; margin-left: auto;}
ul#navbar {padding:0px ; list-style:none; width: 880px; margin-right: auto; margin-left: auto;margin:0px;}
ul#navbar li {display:inline}
ul#navbar li#head {text-transform: uppercase; font-weight: bold; text-align: left; padding:5px 0; width: 200px; float:left;}
ul#navbar li a {padding:5px 0; width:120px; background:#501c1c; color:#f8f800; float:left; border-left:1px solid #fff;}
ul#navbar li a:hover {background:#a2b3a1; color:#000;}
img.small {float: right; height: 12px;}
#leftcol {float: left; text-align: left; width: 200px; margin-right: 20px;background: #fff;}
#doc {float: left; width: 520px; background: #fff; text-align: left;}
#rightcol {float: right; text-align: center; width: 200px; background: #fff99d;}
#footer {border-top: 1px solid #000000; clear: both; margin-left: 220 px; padding-top: 10px;}
p.col_info {text-align: left;}
p.caption  {text-align: center;}
span.standout {font-weight: bold;}
