body {text-align: center;background: #eee;margin-top: 0px;}
#ty {max-width: 600px; background: #fff; margin-right: auto; margin-left: auto;}
ul#navbar {padding:0px ; list-style:none; max-width: 600px; margin-right: auto; margin-left: auto;}
ul#navbar li {display:inline; width:80px; background:#fff; color:#000; float:left; }
ul#navbar li a:hover {background:#fffdda; color:#000;}
img.small {float: right; height: 12px;}
#doc {float: left; max-width: 600px; background: #fff; text-align: left; margin-left: 10px;margin-right: 10px;}
#footer {border-top: 1px solid #000000; clear: both; }
p.caption  {text-align: center;}
img#banner {max-width: 300px; max-height: 100px; display: block; margin-left: auto; margin-right: auto;}
img.center {display: block; margin-left: auto; margin-right: auto; }
